# Guest name
name = "DomD"

# Kernel image to boot
kernel = "/usr/lib/xen/boot/linux-domd"

# Kernel command line options
extra = "root=/dev/xvda rw rootwait console=hvc0 cma=128M verbose loglevel=7"

# Device Tree
device_tree = "/usr/lib/xen/boot/domd.dtb"

# Initial memory allocation (MB)
memory = 1000

# Number of VCPUS
vcpus = 4
cpus="0-3"

max_grant_frames = 64

on_crash = 'preserve'



# =====================================================================
# DomD virtual devices
# =====================================================================

disk = [ 'backend=Domain-0, phy:/dev/vda, xvda' ]
